.magic-left {
    width: 100%;

}

.magic-left-img {
    width: 658px;
    height: 571px;
}

.magic-left img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    box-sizing: border-box;
    border-radius: 4px 291px 4px 4px;

}

.magic-left-badge {

    width: 102px;
    height: 102px;
    background: #FECE63;
    border-radius: 0px 0px 0px 1000px;
    right: 0;
}