 .badge {
     width: 147px;
     border-bottom: 4px solid var(--bs-primary);
 }

 .services-item {
     padding: 55px;
     background: #FFFFFF;
     border: 3px solid #F2F2F2;
     border-radius: 12px;
 }

 .services-item .item-icon {
     background-color: var(--bs-primary);
     width: 64px;
     height: 64px;
     padding: 18px;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .item-link a {
     text-decoration: underline;
 }